
body{
	background-size: cover;
background-image: url(im.jpeg);
 
}

  canvas{
	 margin-left: 23%;
   margin-top: 5%;
  }


  audio, embed {
    position: absolute;
    z-index: -9999;
}
#HH{
  color: aliceblue;
margin-left: 37%;
}
#SN{
  color: aliceblue;
margin-left: 37%;
}

#HH:hover{
  color: rgb(139, 141, 144);
margin-left: 37%;
font-size: 40px;
text-align: auto;
}
#SN:hover{
  color: rgb(139, 141, 144);
margin-left: 35%;
text-align: auto;
font-size: 40px;
}


.button {
 
  border: none;
  margin-left: 50%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  margin: 4px 30px;
  cursor: pointer;
}

.button2 {background-color: #008CBA; } /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
